.destination_area{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 100px;
    h1{
        font-size: 50px;
        font-weight: normal;
        color: #4a4a4a;
        margin-bottom: 25px;
    }
    p{
        font-size: 20px;
        font-weight: normal;
        color: #616161;
        margin-bottom: 30px;
    }
    input{
        width: 30%;
        border: 0;
        border-radius: 10px;
        background-color: #F0F0F0;
        padding: 5px 20px;
        margin-bottom: 35px;
        transition: 0.5s;
    }
}
.destination_card{
    img{
        height: 350px;
        width: 350px;
        margin: 22px;
        transition: 0.4s;
    }
    img:hover{
        transform: scale(1.1);
        opacity: 0.9;
        // filter: blur(0.7px);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        
    }
}
